# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
Click-7.0.dist-info/                                   
chardet/
Flask-1.0.3.dist-info/                                 
chardet-3.0.4.dist-info/
Flask-1.1.0.dist-info/                                 
click/
Jinja2-2.10.1.dist-info/                               
cryptography/
MarkupSafe-1.1.1.dist-info/                            
cryptography-2.7.dist-info/
PET_MATCH-lambda_function.py                           
dateutil/
Werkzeug-0.15.4.dist-info/   
docutils/
__pycache__/   
docutils-0.14.dist-info/
_cffi_backend.cpython-37m-darwin.so                    
flask/
ask_sdk/       
flask_ask_sdk/
ask_sdk-1.10.2.dist-info/                              
flask_ask_sdk-0.1.1.dist-info/
ask_sdk_core/  
idna/
ask_sdk_core-1.10.2.dist-info/                         
idna-2.8.dist-info/
ask_sdk_dynamodb/                                      
itsdangerous/
ask_sdk_dynamodb_persistence_adapter-1.10.2.dist-info/ 
itsdangerous-1.1.0.dist-info/
ask_sdk_model/ jinja2/
ask_sdk_model-1.12.0.dist-info/                        
jmespath/
ask_sdk_model-1.13.0.dist-info/                        
jmespath-0.9.4.dist-info/
ask_sdk_runtime/
ask_sdk_runtime-1.10.2.dist-info/                      
markupsafe/
ask_sdk_webservice_support/                            
pycparser/
ask_sdk_webservice_support-0.1.2.dist-info/            
pycparser-2.19.dist-info/
asn1crypto/    
python_dateutil-2.8.0.dist-info/
asn1crypto-0.24.0.dist-info/                           
requests/
bin/           
requests-2.22.0.dist-info/
boto3/
boto3-1.9.183.dist-info/                               
s3transfer/
botocore/      
s3transfer-0.2.1.dist-info/
botocore-1.12.183.dist-info/                           
six-1.12.0.dist-info/
certifi/       
six.py
certifi-2019.6.16.dist-info/                           
urllib3/
cffi/          
urllib3-1.25.3.dist-info/
cffi-1.12.3.dist-info/                                 
werkzeug/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
