# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
Click-7.0.dist-info/
Flask-1.0.3.dist-info/
Flask-1.1.0.dist-info/
Jinja2-2.10.1.dist-info/
MarkupSafe-1.1.1.dist-info/
Werkzeug-0.15.4.dist-info/
__pycache__/
ask_sdk_core/
ask_sdk_core-1.10.2.dist-info/
ask_sdk_model/
ask_sdk_model-1.11.0.dist-info/
ask_sdk_model-1.12.0.dist-info/
ask_sdk_model-1.13.0.dist-info/
ask_sdk_runtime/
ask_sdk_runtime-1.10.2.dist-info/
ask_sdk_webservice_support/
ask_sdk_webservice_support-0.1.2.dist-info/
asn1crypto/
asn1crypto-0.24.0.dist-info/
bin/
certifi/
certifi-2019.6.16.dist-info/
cffi/
cffi-1.12.3.dist-info/
chardet/
chardet-3.0.4.dist-info/
click/
cryptography/
cryptography-2.7.dist-info/
dateutil/
flask/
flask_ask_sdk/
flask_ask_sdk-0.1.1.dist-info/
idna/
idna-2.8.dist-info/
itsdangerous/
itsdangerous-1.1.0.dist-info/
jinja2/
markupsafe/
pycparser/
pycparser-2.19.dist-info/
python_dateutil-2.8.0.dist-info/
requests/
requests-2.22.0.dist-info/
six-1.12.0.dist-info/
urllib3/
urllib3-1.25.3.dist-info/
werkzeug/
six.py
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
Flask-1.1.0.dist-info/
ask_sdk-1.10.2.dist-info/
ask_sdk/
ask_sdk_dynamodb/
ask_sdk_dynamodb_persistence_adapter-1.10.2.dist-info/
ask_sdk_model-1.13.0.dist-info/
boto3-1.9.183.dist-info/
boto3/
botocore-1.12.183.dist-info/
botocore/
docutils-0.14.dist-info/
docutils/
jmespath-0.9.4.dist-info/
jmespath/
s3transfer-0.2.1.dist-info/
s3transfer/
boto3-1.9.188.dist-info/
botocore-1.12.188.dist-info/
Flask-1.1.1.dist-info/
boto3-1.9.188.dist-info/
botocore-1.12.188.dist-info/

*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
